body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: background 1s ease-in-out;
}

.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}

#background-layer-1 {
    opacity: 1;
}

#background-layer-2 {
    opacity: 0;
}

.wrapper {
    max-height: 300px;
    height: 100%;
    max-width: 500px;
    width: 100%;
    border-radius: 20px; /* округление углов */
    overflow: hidden; /* чтобы контент слайдера также был округлен */
}

.slider__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.041);
    border-radius: 30px;
    margin: 20px 0;
    background-color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
button {
    margin: 25px auto;
    width: 80%;
    display: block;
    border-radius: 8px; 
}

.result__div {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #6f42c1;
    padding: 1vh;
    border-radius: 8px;
    margin: 10px auto;
}